body{
    background-color:#fff;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin-top: 0;
   
}
header{
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: coral;
    color: white;
}

header h1{
    display: inline-block;
}

header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    word-spacing: 60px;
}

a{
    color: white;
    text-decoration: none;
}


#picture {
    background-image: url('images/heaven.jpg');
    background-position: center;
    min-height: 400px;
    margin-bottom: 30px;
    text-align: center;
}
#picture h1{
    font-size: 60px;
    text-shadow: 3px 2px 1px green;
    padding-left: 30px;
    position: absolute;
    bottom: 300px;
    right: 40px;
   
    margin: 50px 50px 50px 50px;

}

#navbar a{
    color:#fff;
    text-decoration: none;
    font-size: 20px;
}

#main{
    float: left;
}

